@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* BRANCO  */
    --var-branco-100: 255, 255, 255;
    --var-branco-100-2: 255, 255, 255;
    --var-branco-100-3: 255, 255, 255;
    --var-branco-cinza-escuro: 255, 255, 255;
    --var-fundo: 255, 255, 255;
    /* AZUL  */
    --var-azul-20: 233, 235, 255;
    --var-azul-30: 207, 223, 252;
    --var-azul-40: 145, 169, 247;
    --var-azul-100: 108, 154, 238;
    --var-azul-200: 74, 107, 168;
    --var-azul-500: 118, 121, 153;

    /* CINZA  */
    --var-cinza-900: 24, 26, 29;
    --var-cinza-900-branco: 24, 26, 29;
    --var-cinza-900-azul: 24, 26, 29;

    /* AMARELO */
    --var-amarelo-100: 255, 201, 74;

    --background: 0, 0%, 100%;
    --background-hover: 0, 0%, 77%, 0.4;
    --foreground: 0, 6.8%, 8.1%;
    --card: 0 0% 100%;
    --card-foreground: 0, 6.8%, 8.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0, 6.8%, 8.1%;
    --primary: 357, 100%, 55%;
    --primary-hover: 357, 100%, 39%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    /* BRANCO  */
    --var-branco-100: 255, 255, 255;
    --var-branco-100-2: 22, 27, 47;
    --var-branco-100-3: 44, 53, 90;
    --var-branco-cinza-escuro: 50, 52, 56;
    --var-fundo: 42, 42, 42;

    /* AZUL  */
    --var-azul-20: 24, 26, 29;
    --var-azul-30: 32, 40, 52;
    --var-azul-40: 145, 169, 247;
    --var-azul-100: 108, 154, 238;
    --var-azul-200: 74, 107, 168;
    --var-azul-500: 42, 42, 42;

    /* CINZA  */
    --var-cinza-900: 24, 26, 29;
    --var-cinza-900-branco: 255, 255, 255;
    --var-cinza-900-azul: 108, 154, 238;

    /* AMARELO */
    --var-amarelo-100: 255, 201, 74;

    /* Shadcn configuration */
    --background: 0, 0%, 12%;
    --background-hover: 0, 6.8%, 0%, 0.8;
    --foreground: 0, 0%, 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 357, 100%, 28%;
    --primary-hover: 357, 100%, 35%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 240 1% 26%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 1% 26%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0, 6.8%, 8.1%, 0.8;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0, 0%, 37%;
    --input: 240 1% 26%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }

  .h1-bold {
    font-weight: bold;
    font-size: 2.375rem;
    line-height: 2.875rem;
  }

  .h2-semibold {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .top-title-medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .title-card-medium {
    font-weight: 500;
    font-size: 1.375rem;
  }

  .paragraph-card {
    font-weight: normal;
    font-size: 0.875rem;
    font-weight: 132%;
  }

  .paragraph-banner {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .cta {
    font-weight: normal;
    font-size: 0.875rem;
    font-weight: 132%;
    color: rgb(var(--var-verde-300));
  }

  @media (max-width: 480px) {
    .h1-bold {
      font-size: 2rem;
      line-height: 2.375rem;
    }
  }

  body {
    background-image: url("/img/Circulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }

  .dark body {
    background-image: url("/img/bg-demencia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container.collapsed {
  --sidebar-width: 4.25rem;

  @media (max-width: 480px) {
    --sidebar-width: 0rem;
  }
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-inline: 100px;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 20px;
  }
}

.bg-banner-home {
  background-image: url("/img/banner_home.svg");
  background-size: contain;
  background-position: center;
}

.dark .bg-banner-home {
  background-image: url("/img/banner_home_dark.svg");
}

.embla {
  max-width: 90%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla2 {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 20rem;
}
.embla__viewport2 {
  overflow: hidden;
}
.embla__container2 {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide2 {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number2 {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls2 {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button2 {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button2:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg2 {
  width: 35%;
  height: 35%;
}
.embla__selected-snap-display2 {
  justify-self: flex-end;
  align-self: center;
  color: var(--text-low-contrast);
  font-weight: 600;
}
