@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* BRANCO  */
    --var-branco-100: 255, 255, 255;
    --var-branco-100-2: 255, 255, 255;
    --var-branco-100-3: 255, 255, 255;
    --var-branco-cinza-escuro: 255, 255, 255;

    /* AZUL  */
    --var-azul-20: 233, 235, 255;
    --var-azul-30: 207, 223, 252;
    --var-azul-40: 145, 169, 247;
    --var-azul-100: 108, 154, 238;
    --var-azul-200: 74, 107, 168;
    --var-azul-500: 118, 121, 153;

    /* CINZA  */
    --var-cinza-900: 24, 26, 29;
    --var-cinza-900-branco: 24, 26, 29;
    --var-cinza-900-azul: 24, 26, 29;

    /* AMARELO */
    --var-amarelo-100: 255, 201, 74;
  }

  .dark {
    /* BRANCO  */
    --var-branco-100: 255, 255, 255;
    --var-branco-100-2: 22, 27, 47;
    --var-branco-100-3: 44, 53, 90;
    --var-branco-cinza-escuro: 50, 52, 56;

    /* AZUL  */
    --var-azul-20: 24, 26, 29;
    --var-azul-30: 32, 40, 52;
    --var-azul-40: 145, 169, 247;
    --var-azul-100: 108, 154, 238;
    --var-azul-200: 74, 107, 168;
    --var-azul-500: 42, 42, 42;

    /* CINZA  */
    --var-cinza-900: 24, 26, 29;
    --var-cinza-900-branco: 255, 255, 255;
    --var-cinza-900-azul: 108, 154, 238;

    /* AMARELO */
    --var-amarelo-100: 255, 201, 74;
  }

  * {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }

  .h1-bold {
    font-weight: bold;
    font-size: 2.375rem;
    line-height: 2.875rem;
  }

  .h2-semibold {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .top-title-medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .title-card-medium {
    font-weight: 500;
    font-size: 1.375rem;
  }

  .paragraph-card {
    font-weight: normal;
    font-size: 0.875rem;
    font-weight: 132%;
  }

  .paragraph-banner {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .cta {
    font-weight: normal;
    font-size: 0.875rem;
    font-weight: 132%;
    color: rgb(var(--var-verde-300));
  }

  @media (max-width: 480px) {
    .h1-bold {
      font-size: 2rem;
      line-height: 2.375rem;
    }
  }

  body {
    background-image: url("/img/Circulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }

  .dark body {
    background-image: url("/img/bg-demencia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container.collapsed {
  --sidebar-width: 4.25rem;

  @media (max-width: 480px) {
    --sidebar-width: 0rem;
  }
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-inline: 100px;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 20px;
  }
}

.bg-banner-home {
  background-image: url("/img/banner_home.svg");
  background-size: contain;
  background-position: center;
}

.dark .bg-banner-home {
  background-image: url("/img/banner_home_dark.svg");
}

.embla {
  max-width: 90%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla2 {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 20rem;
}
.embla__viewport2 {
  overflow: hidden;
}
.embla__container2 {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide2 {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number2 {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls2 {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button2 {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button2:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg2 {
  width: 35%;
  height: 35%;
}
.embla__selected-snap-display2 {
  justify-self: flex-end;
  align-self: center;
  color: var(--text-low-contrast);
  font-weight: 600;
}
